.card {
  border-radius: 12px;
  max-width: 320px;
  width: 100%;
  text-align: center;
  border: 1px solid #ddd;
  overflow: hidden;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}
.price {
  font-family: "DM Sans", sans-serif;
  display: block;
  margin-top: 10px;
  color: #ad343e;
  font-size: 24px;
  font-weight: 700;
}

.card h3 {
  font-family: "DM Sans", sans-serif;
  color: #2c2f24;
  font-size: 20px;
  font-weight: 700;
  margin: 8px 0;
  font-size: 18px;
}

.card p {
  font-family: "DM Sans", sans-serif;
  color: #414536;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  margin: 0 20px;
  margin-bottom: 30px;
}

@media (max-width: 480px) {
  .card {
    max-width: 100%;
  }

  .card img {
    height: auto;
  }

  .card p {
    margin: 0 16px 24px;
    font-size: 15px;
  }
}
