* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}

.menuPage {
  padding: 70px 8%;
  text-align: center;
  animation: fadeIn 1.2s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.menuPage h2 {
  font-size: 100px;
  font-weight: 400;
  text-align: center;
  color: #2c2f24;
  margin-bottom: 10px;
}

.subtitle {
  max-width: 500px;
  margin: 0 auto 40px;
  font-family: "DM Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #495460;
}

.categories {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.categories button {
  padding: 13px 40px;
  border-radius: 50px;
  border: 1px solid #dbdfd0;
  font-family: "DM Sans", sans-serif;
  /* background: transparent; */
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
}
.active {
  background: #ad343e;
  color: #ffffff;
  border-color: #ad343e;
}
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

@media (max-width: 900px) {
  .menuPage {
    padding: 60px 6%;
  }

  .menuPage h2 {
    font-size: 64px;
  }

  .subtitle {
    font-size: 16px;
  }
}

@media (max-width: 640px) {
  .menuPage {
    padding: 48px 16px;
  }

  .menuPage h2 {
    font-size: 42px;
  }

  .subtitle {
    font-size: 15px;
  }
}
